@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-orange: #EFB12E;
  --dark-green: #20232A;
  --light-cyan-background: #BFD3D5;
  --light-white: #EFEFF0;
  --green-card: #34727D;
  --light-right-background:#DDE4E6;
  --dark-right-background:#282B33;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
